/* GENERAL */

:root {
  --font-family: "Apercu", "Verdana", "Arial";
  --standard-font-size: 16px;
  --small-font-size: 8px;
  --color-darkblue: #112b3c;
  --color-blue: #205375;
  --color-orange: #f66b0e;
  --color-beige: #cfb997;
  --color-lightgray: #efefef;
  margin: 0px;
  padding: 0px;
}

* {
  background-color: var(--color-lightgray);
  color: var(--color-darkblue);
  font-family: var(--font-family);
}

h1 {
  color: var(--color-orange);
  padding: 1em;
  font-weight: 600;
}

.nopadding {
  padding: 0px !important;
}

/* APP.JS - COMPONENTS */
.components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HOME */
.home {
  width: 95%;
  height: 600px;
}

/* HEADER */
.header {
  padding: 2em !important;
  display: flex !important;
  justify-content: space-between !important;
}

.headershadow {
  box-shadow: 0px 3px rgb(183, 179, 179), 0em 0 0.4em;
  position: relative;
  z-index: 10;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  font-size: 1.2em;
}

.logo a {
  text-decoration: none;
}

.logo_icon {
  fill: var(--color-orange);
}

.logo_text {
  font-family: "Monomaniac One", sans-serif;
  color: var(--color-darkblue);
}

.headergroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6em;
}

.headergroup a {
  text-decoration: none;
  color: var(--color-darkblue);
}

.headerbuttongroup {
  display: flex;
  gap: 1em;
}

.loginbutton {
  color: var(--color-darkblue) !important;
}

.loginbutton:hover,
.headergroup a:hover,
.detailsbutton:hover {
  color: var(--color-orange) !important;
}
.signupbutton,
.submitbutton,
.footer_newsletterbutton {
  background-color: var(--color-orange) !important;
  color: var(--color-darkblue) !important;
  border: none !important;
}

.signupbutton:hover,
.submitbutton:hover,
.footer_newsletterbutton:hover {
  background-color: var(--color-darkblue) !important;
  color: var(--color-beige) !important;
}

/* LOGIN */
.login {
  min-height: 70vh;
}
.loginPage {
  min-height: 70vh;
}

.loginTextLink {
  font-size: 13px;
  text-decoration: none;
  color: var(--color-blue);
}
.loginTextLink a:hover {
  color: var(--color-orange) !important;
}

.loginFormText {
  color: var(--color-orange);
}

.modBot .modal-content {
  background-color: #efefef
}

/* ALLPROJECTS */
.projectoverview {
  border-radius: 5px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.projectoverviewicon {
  width: 12px;
  fill: var(--color-darkblue);
  margin-right: 0.2em;
}

.projectdetails_row {
  padding-top: 1em;
}

.detailsbutton {
  border: 1px solid var(--color-blue) !important;
  color: var(--color-darkblue) !important
}

.allprojects_categories {
  display: flex;
}

/* FILTER */

.allprojectsfilter {
  padding: 1em;
  margin-bottom: 1em;
}

.sort,
.filter {
  margin-bottom: 2em;
  border-radius: 5px;
  padding: .5em;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

.sortform {
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0em .5em;
}

.filterform {
  padding-bottom: 1em;
  padding: .5em;

}

.clear_filter_btn {
  color: var(--color-orange) !important;
} 

.clear_filter_btn:hover {
  color: var(--color-blue) !important;
} 

.filter {
  display: flex;
  flex-direction: column;
}

.filtercriteria,
.sortcriteria {
 max-width: 80%;
}
.filter_select__control {
  border: 1px solid #ced4da !important;
  max-width: 80%;
}

.basic-multi-select {
 background-color: #f8f9fa;
}

.filter_basic-multi-select,
.filter_select__control,
.filter_select__value-container,
.filter_select__indicators,
.filter_select__indicators,
.filter_select__dropdown-indicator {
  border-radius: 5px;
  border: none;
} 

.sort select {
  font-size: .9em !important;
}

.filter select {
  font-size: .9em !important;
}


/* PROJECTDETAIL */

.projectdetail {
  min-height: 70vh;
}

.darkBlueText {
  color: var(--color-darkblue);
}

.orangeText {
  color: var(--color-orange);
}

.detailsFont {
  font-size: 12px;
  color: grey;
}
.backBtn {
  color: var(--color-darkblue);
  font-size: 13px;
  border: none;
  
}
.backBtn:hover {
  color: var(--color-orange);
}

.bookmark {
  display: flex;
 align-items: center;
 justify-content: space-between;
}



/* CREATE A PROJECT */

.create_project {
  margin-bottom: 3em;
  min-width: 50%;
}

.input_categories {
  display: block !important;
  min-height: 15em;
  padding: 1em !important;
  margin-bottom: 1em !important;
  vertical-align: text-top !important;
  text-align: start !important;
}

.option {
  background-color: transparent;
  padding-top: 0.1em;
}

.questionmarkicon {
  width: 12px;
  fill: var(--color-blue);
  margin-left: 0.4em;
}

.categories,
.tech_stack {
  max-width: 100%;
}



/* USERPROFILE */
.userprofile {
min-height: 80vh;
/* width: 60%; */
}

.blueText {
  color: var(--color-blue);
}

.deleteIcon:hover {
  fill: red
}


/* USERCONTACT */
.usercontact {
  min-height: 70vh;
}

/* FOOTER */
.footer {
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em;
}

.socialmediaiconsbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.socialmediaicon {
  width: 20px;
  fill: var(--color-darkblue);
}

.socialmediaicon:hover {
  fill: var(--color-orange);
}

.footercontent {
  display: flex;
  gap: 2em;
}

.footerheading {
  font-weight: 600;
}

.footerinput {
  font-size: 1em !important;
}

.footershadow {
  box-shadow: 0px 3px rgb(183, 179, 179), 0em 0 0.4em;
  position: relative;
  z-index: 10;
}

/* ERROR */
.error {
  min-height: 80vh;
}

.errorgif {
  width: 400px;
  height: 400px;
}

.my-modal {
  background-color: rgba(0,0,0,0.1)
  /* filter: blur(1px); */

}



